body {
    display: flex; /* Make the body a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    margin: 0; /* Remove default body margin to prevent unwanted spacing */
}



#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
      width: 30%;
    border: solid rgb(0, 0, 0) 2px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#loginForm {
    width: 300px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

button[type="submit"] {
    padding: 10px 15px;
}